body {
    background-color: var(--primary);
    min-height: 97vh;

}
@import url('https://googleapis.com');

*, *::before, *::after {
    font-family: 'Lora', serif;
    user-select: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

:root{
    --primary: #00A8E8;
    --secondary: #007EA7;
    --tertiary: #003459;
    --black: #00171F;
    --white: #fff;
    
    /*sidebar*/
    --sidebar-bg: #F3F3F3;
    --sidebar-btn-hover: #dadada;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #FEF3E2;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb {
  background: #878787;
  border-radius: 999px;
  border: 1px solid #FEF3E2;
}
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

h1{
    margin-top: 30px;
}
h5{
    margin-top: -20px;
}
hr{
    margin-top: -10px;
}
input[type="text"], input[type="password"], input[type="button"]{
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar-selected {
    background-color: var(--tertiary) !important;
    border: 2px solid var(--tertiary) !important;
    color: var(--white) !important;
}
.icon-selected{
    color: var(--white) !important;
}
#sidebar.minimized {
    width: 60px;
    overflow: hidden;
}
#sidebar.minimized button span{
    display: none;
}
.icon{
    height: 24px;
    width: 24px;

    color: var(--black);
}
.white{
    color: var(--white);
}
.sidebar {
    position: fixed;
    width: 140px;
    margin-top: 106px;
    color: var(--white);
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    left: 0px;
    gap: 40px;
    z-index: 1000;

    transition: all 0.3s ease;
}

.sidebar button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--sidebar-bg);
    border: 2px solid var(--primary);
    border-radius: 0px 10px 10px 0px;
    font-weight: 600;
    padding: 20px 16px;
    cursor: pointer;
    gap: 10px;

    transition: 0.3s all;
}
.sidebar button:hover{
    border: 2px solid var(--black) !important;
    background-color: var(--sidebar-btn-hover) !important;
}
.sidebar button.sidebar-selected:hover{
    border: 2px solid var(--black) !important;
    background-color: var(--black) !important;
}
.sidebar button img {
    max-height: 24px;
    width: auto;
    display: inline-block;
}

/* Navbar */
.navbar {
    width: 100%;
    background: var(--tertiary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar .brand {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.navbar .profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.navbar .profile .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.navbar .profile .avatar img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-frame {
    position: relative;
    top: 90px;
    padding: 0 0 20px 0;
}
.main-content {
    width: 90%;
    min-height: 100%;
    background: #F3F3F3;
    margin: 0 auto;
    padding: 24px;
    border-radius: 10px;
    box-sizing: border-box;
}

.sort{
    padding: 3px;
    border: 1px solid #00A8E8;
    border-radius: 5px;
}
.top-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-input{
    padding: 5px;
    width: 200px;
    border: 1px solid #00A8E8;
    border-radius: 5px;
}
#search-box{
    display: flex;
    align-items: center;
    gap: 8px;
}


.bottom-group{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.bottom-group div{
    padding: 8px 12px;
    border: 1px solid #00A8E8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;

    transition: 0.3s all;
}
.bottom-group div:hover{
    background-color: #00A8E8;
    color: #F3F3F3;
}

.product-card{
    background: #ffffff;
    border: 1px solid #00A8E8;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    height: 250px;
}
.product-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.product-card .picture-container{
    width: 100%;
    height: 180px;
    background: #efefef;
    border-radius: 5px;
    position: relative;
}
.price-container{
    position: absolute;
    bottom: 8px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-container .buy-button{
    padding: 5px 15px;
    background: #12c56e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #12c56e;

    transition: 0.3s all;
}
.price-container .buy-button:hover{
    background-color: white;
    color: #12c56e;
    border: 1px solid #12c56e;
}
.price-container .cancel-button{
    padding: 5px 15px;
    background: #f75a5a;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #f75a5a;

    transition: 0.3s all;
}
.price-container .cancel-button:hover{
    background-color: white;
    color: #f75a5a;
    border: 1px solid #f75a5a;
}
.label-description{
    margin-top: 8px;
}
.label-description #description{
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.label-description:hover{
    text-decoration: underline;
    cursor: pointer;
}
.picture-container{
    position: relative;
}
.picture-container .picture{
    width: 100%;
    height: 76%;
    overflow:hidden;

}
.picture-container .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom-group .current-section{
    background-color: #00A8E8;
    color: #F3F3F3;
}
.price-container div{
    display: flex;
}
.price-container div img{
    width: 24px;
    height: 24px;
}
.price-container div div{
    border-left: 1px solid black;
    margin-left: 5px;
    padding-left: 5px;

    cursor: pointer;
}